importFrom(Formula, Formula)
importFrom(dcmle, dcmle, makeDcFit)
importFrom(dclone, dcdim)
importFrom(methods)
importFrom(stats4, mle)

export(hsarx, sie, sieplot)
exportClasses(hsarx, sie)
exportMethods(show)
